<% require_relative 'buckettest.rb' %>
<link rel="stylesheet" href="css/style.css">
<h1>
THE MASTER FILE:
</h1>
<% file = bucket_read %>
<% file.each do |row| %>
<%= row[0] %>:
<div>
	<% if row[1] == 'true' %>
	Valid
	<%else%>
	Invalid
	<%end%>
<br>
</div>
<%end%>
<input id="buttons" type = "button" value = "Back" onClick = "location.href='/'">