<link rel="stylesheet" href="css/style.css">
<% require_relative 'buckettest.rb' %>
<h1>
<% bucket_write([number,valid]) %>
The results are in:<br>
</h1>
<body>
The ISBN <%= isbntype %> number, <%= number %>, you entered is... <br>
</body>
<div>
<% if valid == 'true' %>
VALID!<br>
<% elsif valid == 'false'%>
INVALID!<br>
<%else%>
CONFUSING!<br>
<%end%>
</div>
<input id="buttons" type = "button" value = "Back" onClick = "location.href='/'">