@keyframes anim {
	0% {color:red;}
	50% {color:yellow;}
	100% {color:red;}
}


h1 {
	background-color: green;
	text-align:center;
	color:white;
	}
body {
	text-align:center;
	background-color: pink;
	color:black;
}
div {
	text-align:center;
	font-size: 128;
	animation-name: anim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	}